.cabecalho__pesquisa {
    align-items: center;
    background-color: var(--cor-pesquisa);
    border: none;
    border-radius: 20px;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 24.5625rem;
}